
.page-intro {
  text-align: center;
  margin-top: 4%;
}
.dot-top {
  background-color: #17736a;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 84%;
}
.top-name {
  font-size: 98px;
  color: #17736a;
}
.podcast-name {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}

.middle-section {
  display: flex;
}
.dot {
  background-color: #17736a;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 27%;
  margin-bottom: 0.8%;
}
.release-date {
  background-color: #f24c27;
  height: 408px;
  position: relative;
  padding: 8px;
  display: flex;
}
.release {
  opacity: 45%;
  margin-left: 55%;
  width: 612px;
}
.joinText {
  width: 20%;
  font-size: 48px;
  position: absolute;
  color: white;
  margin-top: 10%;
  margin-left: 29%;
}

.mic {
  margin-left: 33%;
  width: 300px;
  height: 300px;
}
.container {
  margin-left: 18%;
}
button {
  background-color: #fff9f8;
  width: 160px;
  position: absolute;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: #f24c27;
  font-size: 32px;
  margin-top: -83%;
  margin-left: -57%;
}
